<div class="timeline">

  <header class="timeline-header">
    <span class="tag is-medium is-primary">Start</span>
  </header>

  <app-timeline-event *ngFor="let timelineEvent of timelineEvents" 
                      [date]="timelineEvent.start.toLocaleString()" 
                      [description]="(timelineEvent.description.length > 0)? timelineEvent.description : description"
                      [break]="(timelineEvent.start.getYear() > start.getYear())? (start.setDate(timelineEvent.start)) : null ">
  </app-timeline-event>

  <div class="timeline-header">
    <span class="tag is-medium is-primary">End</span>
  </div>

</div>
