<h1 class="has-text-centered has-text-weight-bold">
  Your Feedback
  </h1>
  <h1 class="has-text-centered has-text-weight-bold">
    How do you rate our page?
  </h1>
  
  
    <div class="buttons are-medium has-addons is-centered">
      <a class="button">
        <span class="icon">
          <i class="fas fa-star fa-lg"></i>
        </span>
      </a>
      <a class="button">
          <span class="icon">
            <i class="fas fa-star fa-lg"></i>
          </span>
        </a>
        <a class="button">
            <span class="icon">
              <i class="fas fa-star fa-lg"></i>
            </span>
          </a>
          <a class="button">
              <span class="icon">
                <i class="fas fa-star fa-lg"></i>
              </span>
            </a>
  </div>
  
  
  <div class="field">
    <label class="label">Please leave your feedback below</label>
    <div class="control">
      <textarea class="textarea" placeholder="Textarea"></textarea>
    </div>
  </div>
  
  <a class="button">
      <span class="icon is-small">
        <i class="fas fa-check"></i>
      </span>
      <span>Save</span>
    </a>