.feedback-page {
    line-height: 2.5;
    text-align: center;
  }
  
  .submit-button {
    margin-bottom: 2;
    float: right;
    border-radius: 2.5
  }
  .textarea{
      border-radius: 2.5
  }
  