<!-- Mobile Header -->
<nav class="navbar mobileNav is-hidden-tablet is-fixed-top">
    <div class="hamburger" (click)="toggleNavbar()">
        <i role="button" class="fas fa-bars fa-lg"></i>
    </div>
</nav>

<!-- Desktop Menu -->
<aside [class.is-hidden-mobile]="isActive" class="menu side-menu">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li *ngFor="let route of generalRoutes">
            <a [routerLink]="route.url">
                <i [class]="route.icon"></i>
                <span>{{ route.linkName }}</span>
            </a>
        </li>
    </ul>
    <p class="menu-label">
        Management
    </p>
    <ul class="menu-list">
        <li *ngFor="let route of managementRoutes">
            <a [routerLink]="route.url">
                <i [class]="route.icon"></i>
                <span>{{ route.linkName }}</span>
            </a>
        </li>
    </ul>
</aside>

<!-- Mobile Menu 
<aside class="menu is-hidden-tablet mobile-side-menu">
    <ul class="menu-list">
        <li *ngFor="let route of generalRoutes"><a [routerLink]="route.url"><i [class]="route.icon"></i></a></li>
    </ul>
    <ul class="menu-list">
        <li *ngFor="let route of managementRoutes"><a [routerLink]="route.url"><i [class]="route.icon"></i></a></li>
    </ul>
</aside>-->