<!-- Desktop Menu -->
<aside class="menu is-hidden-mobile side-menu">
    <p class="menu-label">
        General
    </p>
    <ul class="menu-list">
        <li *ngFor="let route of generalRoutes">
            <a [routerLink]="route.url">
                <i [class]="route.icon"></i>
                <span>{{ route.linkName }}</span>
            </a>
        </li>
    </ul>
    <p class="menu-label">
        Management
    </p>
    <ul class="menu-list">
        <li *ngFor="let route of managementRoutes">
            <a [routerLink]="route.url">
                <i [class]="route.icon"></i>
                <span>{{ route.linkName }}</span>
            </a>
        </li>
        <li *ngIf="!loggedIn">
            <a (click)="login()">
                <i class="fas fa-sign-in-alt fa-lg"></i>
                <span>Signin</span>
            </a>
        </li>
        <li *ngIf="loggedIn">
            <a (click)="logout()">
                <i class="fas fa-sign-out-alt fa-lg"></i>
                <span>Signout</span>
            </a>
        </li>
    </ul>
</aside>

<!-- Mobile Menu -->
<aside class="menu is-hidden-tablet mobile-side-menu">
    <ul class="menu-list">
        <li *ngFor="let route of generalRoutes"><a [routerLink]="route.url"><i [class]="route.icon"></i></a></li>
    </ul>
    <ul class="menu-list">
        <li *ngFor="let route of managementRoutes"><a [routerLink]="route.url"><i [class]="route.icon"></i></a></li>
    </ul>
</aside>