<div *ngIf="eventClicked" class="modal is-active">
  <div class="modal-background" (click)="eventClicked = false;"></div>
    <div class="modal-content">
      <article class="message is-link">
        <div class="message-header">
          <p>{{ eventTitle }}</p>
        </div>
        <div class="message-body">
          <p>BMI: {{ eventBmi}}</p>
          <p> Weight: {{ eventWeight }}</p>
          {{ eventDescription }}
        </div>
      </article>
    </div>
  <button class="modal-close is-large" 
          aria-label="close" 
          (click)="eventClicked = false;"></button>
</div>

<full-calendar
  #calendar
  defaultView="dayGridMonth" 
  [aspectRatio] = "0.9"
  [header]="{
    left: 'prev,next today',
    center: 'title',
    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
  }"
  [plugins]="calendarPlugins"
  [events]="calendarEvents"
  (eventClick)="handleDateClick($event)"
></full-calendar>
