@media only screen and (max-width: 480px){
    .CalendarTitle{
        text-align: center;
    }
}

@media only screen and (min-width: 480px){
    .CalendarTitle{
        display:none;
    }
}
.icon{
    color:#cc0033;
}