<div *ngIf="eventClicked" class="modal is-active">
  <div class="modal-background" (click)="eventClicked = false;"></div>
    <div class="modal-content">

      <div class="box">

        <div class="media-content">
          <p>
            <span class = "icon is-large">
              <i class="fas fa-square fa-lg"></i>
            </span>
            <strong>{{ eventTitle }}</strong>
          </p>
          <p>
              <small>{{ eventDescription }}</small>
          </p>
          <p>
              <span class = "icon is-large">
                <i class="fas fa-map-marker-alt fa-lg"></i>
              </span>
              <strong>Location</strong>
            </p>
            <p>
              <small>
                  Location:
                  Hospital of Galactic Empire,
                  Level 2, Room 201
              </small>
            </p>
            <p>
                <span class = "icon is-large">
                  <i class="fas fa-calendar-alt fa-lg"></i>
                </span>
                <strong>Date & Time</strong>
                <p>
                <small>
                    Staff: Dr. Palpatine
                </small>
         
              </p>
              <p>
                <span class = "icon is-large">
                  <i class="fas fa-user-md fa-lg"></i>
                </span>
                <strong>Doctor</strong>
                <p>
                <small>
                    Staff: Dr. Palpatine
                </small>
         
              </p>
        </div>

          <p>BMI: {{ eventBmi}}</p>
          <p> Weight: {{ eventWeight }}</p>
        
      </div>
    </div>
  <button class="modal-close is-large" 
          aria-label="close" 
          (click)="eventClicked = false;"></button>
</div>

<full-calendar
  #calendar
  defaultView="dayGridMonth" 
  [aspectRatio] = "0.9"
  [header]="{
    left: 'prev,next today',
    center: 'title',
    right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
  }"
  [plugins]="calendarPlugins"
  [events]="calendarEvents"
  (eventClick)="handleDateClick($event)"
></full-calendar>
