<div class="box {{task.completed && 'done' || (overDue && 'overDue')}} task-component" (click)="onButtonClick()">
  <!-- late to make al this stuffs semantic, we can change this portion into a section-->
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="assets/notepad-icon.png" />
      </figure>
    </div>
    <div class="media-content"><!--I think I will require two way binding in here-->
      <div class="content">
        <div>
          <div class="level">
           <strong class="level-left">Enter Data</strong>
           <strong class="level-right">Due Date: {{dueDate}}</strong>
          </div>
          <b>Status: </b>{{task.completed && 'Done 👍' || (overDue && 'OVER DUE!' || 'Pending...') }}
           <br>
           <b>Description: </b> This is to enter your {{taskType}}
          <br *ngIf="!expanded && task.completed">
            <small *ngIf="!expanded && task.completed">Click to expand</small>
          <br *ngIf="expanded && task.completed">
          <div *ngIf="expanded && task.completed">
            <a class="panel-block">
              Food Intake : 200 Calories
            </a>
            <a class="panel-block">
              Calories Burned : 10 Calories
            </a>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>