<div class="box {{task.isCompleted && 'done' || (overDue && 'overDue')}}">
  <!-- late to make al this stuffs semantic, we can change this portion into a section-->
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="assets/notepad-icon.png" />
      </figure>
    </div>
    <div class="media-content">
      <div class="content">
        <p>
          <strong>{{task.title}}</strong>
          <br>
          {{task.description}}
        </p>
      </div>
    </div>
  </article>
</div>