<div class="box {{task.isCompleted && 'done' || (overDue && 'overDue')}}">
  <!-- late to make al this stuffs semantic, we can change this portion into a section-->
  <article class="media">
    <div class="media-left">
      <figure class="image is-64x64">
        <img src="assets/notepad-icon.png" />
      </figure>
    </div>
    <div class="media-content" (click)="onClick()"><!--I think I will require two way binding in here-->
      <div class="content">
        <div>
          <strong>{{task.title}}</strong>
          <br>
          {{ task.description }}
          <br>
            <small class="{{!(expanded && task.isCompleted)? '': 'notshowing'}}">Click to Explore</small>
          <br>
          <div class="panel {{(expanded && task.isCompleted)? '': 'notshowing'}}" >
            <a class="panel-block">
              Food Intake : 200 Calories
            </a>
            <a class="panel-block">
              Calories Burned : 10 Calories
            </a>
          </div>
        </div>
      </div>
    </div>
  </article>
</div>