.done{
    background-color: mediumspringgreen;
}

.overDue{
    background-color: rgba(243, 31, 66, 0.527);
}

.task-component {
    cursor: pointer;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid black;
    }
}

.level{
    margin-bottom: 0%
}