.done{
    background-color: #ccffcc;
}

.overDue{
    background-color: #cccccc;
}

.task-component {
    cursor: pointer;
    border: 2px solid transparent;

    &:hover {
        border: 2px solid black;
    }
}

.level{
    margin-bottom: 0%
}