<div class="foodChoice has-background-danger">
  <div [ngClass]="{ hideFoodCount: count <= 0 }" (click)="decreaseCount()">
      <span class="icon">
          <i class="fas fa-minus"></i>
        </span>
    {{ count }}
    <span class="icon">
        <i class="fas fa-minus"></i>
      </span>
  </div>
  <div class="foodName has-background-white-ter" (click)="increaseCount()">
      <span class="icon">
          <i class="fas fa-plus"></i>
        </span>
    {{ foodChoice.name }}
    <span class="icon">
        <i class="fas fa-plus"></i>
      </span>
  </div>
</div>
