.foodChoice {
  text-align: center;
  cursor: pointer;
}

.foodName {
  padding-top: 30px;
  padding-bottom: 50px;
  max-height: 500px;
}

.hideFoodCount {
  visibility: hidden;
  position: relative;
  background: rgb(2, 0, 36);
}

.showCount {
  background-color: #cc0033;
  color: white;
}
