.foodChoice {
  text-align: center;
  cursor: pointer;
  background-color: white;
}

.foodName {
  padding-top: 30px;
  padding-bottom: 50px;
}

.hideFoodCount {
  visibility: hidden;
  position: relative;
}
