<table class="table">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Food</th>
      <th>Calories Per Unit</th>
      <th>Unit</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let food of foods">
      <td>
        <label class="checkbox">
          <input type="checkbox" (change)="toggleFood(food)">
        </label></td>
      <td><a (click)="removeFood(food.id)" class="delete"></a></td>
      <td>{{food.name}}</td>
      <td>{{food.calorieCount}}</td>
      <td>{{food.unit}}</td>
    </tr>
  </tbody>
</table>
<div class="buttons">
  <span class="button is-success" (click)="onSubmit()">Add Selected Items to your Food Intake</span>
  <span class="button is-danger" (click)="onBack()">Cancel</span>
</div>