<div class="timeline-item">
  <div class="timeline-marker"></div>
  <div class="timeline-content">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ date }}
        </p>
        <a class="card-header-icon" aria-label="more options">
          <span class="icon">
            <i *ngIf="!descriptionVisible" class="fas fa-angle-down" aria-hidden="true" (click)="descriptionVisible = !descriptionVisible"></i>
            <i *ngIf="descriptionVisible" class="fas fa-angle-up" aria-hidden="true" (click)="descriptionVisible = !descriptionVisible"></i>
          </span>
        </a>
      </header>
      <div *ngIf="descriptionVisible" class="card-content">
        <div class="content">
          {{ description }}
        </div>
      </div>
    </div>
  </div>
</div>

