nav {
    background-color: var(--header-bg-color);
    width: var(--side-menu-width);
}

.label {
    color: rgb(173, 180, 178);
    padding-left: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 100;
}