.desktopNav {
    background-color: var(--header-bg-color);
    width: var(--side-menu-width);
}


.label{

    color: #FFFFFF;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: 100;

}