<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box" click="app-appointment">
            <p class="title is-4">Next Appointment</p>
            <p class="subtitle">Time:  {{(nextAppointment==null)?"No Appointments":((nextAppointment.start !=null)?nextAppointment.start:"Time Unknown")}}</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="is-size-5">Current Weight: {{(patientHealthStats == null)?"Unknown":patientHealthStats.currentWeight}}</p>
            <p class="is-size-5">Current Height: {{patientHeight}}</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
                <p class="is-size-5">BMI: {{patientBMI}}</p>
                <p class="is-size-5">Ideal weight: {{(patientHealthStats == null)?"Unknown":patientHealthStats.idealWeight}}</p>
        </article>
    </div>
</div>

<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box">
                <p class="title is-4">Today's calories</p>
                <div class="subtitle">
                <p class="is-size-5">Intake: {{calorieIntake}}</p>
                <p class="is-size-5">Burn: {{calorieBurn}}</p>
            </div>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title is-4">Food of the month:</p>
            <p class="subtitle"> {{foodOfTheMonth.name}}</p>
        </article>
    </div>
</div>


<div class="tile is-ancestor is-hidden-mobile">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <div class="content">
                        <div class="graph">
                            <canvas
                            baseChart
                            [chartType]="'line'"
                            [datasets]="chartData"
                            [labels]="chartLabels"
                            [colors]="lineChartColors"
                          >
                          </canvas>
                              </div>
                      </div>
            </article>
        </div>
    </div>

<div class="tile is-ancestor is-hidden-tablet">
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="content">
                    <div class="graph">
                        <canvas
                        baseChart
                        height="150vh" width="80vw"
                        [chartType]="'line'"
                        [datasets]="chartData"
                        [labels]="chartLabels"
                        [colors]="lineChartColors"
                      >
                      </canvas>
                          </div>
                  </div>
        </article>
    </div>
</div>