<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box" click="app-appointment">
            <p class="title">Next Appointment</p>
            <p class="subtitle">Time:  {{(nextAppointment==null)?"No Appointments":((nextAppointment.start !=null)?nextAppointment.start:"Time Unknown")}}</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="subtitle">Current Weight: {{(patientHealthStats == null)?"Unknown":patientHealthStats.currentWeight}}</p>
            <p class="subtitle">Current Height: {{patientHeight}}</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
                <p class="subtitle">BMI: {{patientBMI}}</p>
                <p class="subtitle">Ideal weight: {{(patientHealthStats == null)?"Unknown":patientHealthStats.idealWeight}}</p>
        </article>
    </div>
</div>

<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box">
                <p class="title">Today's calories</p>
                <p class="subtitle">Intake: {{calorieIntake}}</p>
                <p class="subtitle">Burn: {{calorieBurn}}</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">Food of the month:{{foodOfTheMonth.name}}</p>
        </article>
    </div>
</div>


<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box">
            <div class="content">
                    <div class="graph">
                        <canvas
                        baseChart
                        [chartType]="'line'"
                        [datasets]="chartData"
                        [labels]="chartLabels"
                        [colors]="lineChartColors"
                      >
                      </canvas>
                          </div>
                  </div>
        </article>
    </div>
</div>