<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">Next Appointment</p>
            <p class="subtitle">Time:  {{(nextAppointment==null)?"No Appointments":((nextAppointment.start !=null)?nextAppointment.start:"Time Unknown")}}</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="subtitle">Current Weight</p>
            <p class="subtitle">Current Height</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
                <p class="subtitle">BMI</p>
                <p class="subtitle">Ideal weight</p>
        </article>
    </div>
</div>

<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box">
                <p class="title">One</p>
                <p class="subtitle">Subtitle</p>
        </article>
    </div>
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">Two</p>
            <p class="subtitle">Subtitle</p>
        </article>
    </div>
</div>


<div class="tile is-ancestor">
    <div class="tile is-parent">
        <article class="tile is-child box">
            <p class="title">One</p>
            <p class="subtitle">Subtitle</p>
        </article>
    </div>
    <div class="content">
            <div class="graph">
                    <canvas
                      baseChart
                      [chartType]="'line'"
                      [datasets]="chartData"
                      [labels]="chartLabels"
                    >
                    </canvas>
                  </div>
          </div>
</div>