.body {
  background-color: #e1e1e1;
}

button,
button:hover {
  background-color: #384a5a;
  width: 23.5rem;
  height: 3.7rem;
  color: white;
  border-radius: 28px;
  margin-top: 70px;
  margin-bottom: 10px;
  font-size: 1.3rem;
}

.header {
  height: 110px;
  background-color: #384a5a;
}

.input {
  border: 0;
  box-shadow: none;
  text-align: center;
}

.input-line {
  border: 0.4px solid black;
  width: 23.5rem;
  margin: 8px auto;
}

.login {
  margin: 0 auto;
  text-align: center;
  margin-top: 80px;
  border: 1px solid black;
  border-radius: 54px;
  height: 530px;
  padding: 25px 0 0;
  background-color: white;
}

.login-title {
  margin-bottom: 65px;
}

.login-title h1 {
  font-size: 3.5rem;
  font-weight: bold;
}

.login-title p {
  font-size: 1rem;
}

@media only screen and (max-width: 768px) {
  .body {
    background-color: white;
  }

  button,
  button:hover {
    width: 17.5rem;
    height: 3rem;
    border-radius: 9px;
    margin-bottom: 20px;
  }

  .header {
    margin-bottom: 50px;
  }

  .input {
    border-radius: 0;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
  }

  .input-area {
    width: 17rem;
    margin: 0 auto;
  }

  .login-title p {
    text-align: center;
    font-size: 0.75rem;
  }
}
