<div class="body">
  <div class="header"></div>

  <div class="login">
    <form>
      <div class="login-title">
        <h1>SIGN IN</h1>
        <p>Welcome to LapBase. Please login to continue</p>
      </div>

      <div class="control ">
        <input placeholder="username" class="input" type="email" ngModel />
      </div>
      <div class="input-line"></div>

      <div class="control ">
        <input placeholder="password" class="input" type="password" ngModel />
      </div>
      <div class="login-buttons">
        <button class="button ">LOGIN</button>
        <br />
        <label class="checkbox">
          <input type="checkbox" />
          Remember me
        </label>
      </div>
    </form>
  </div>
</div>
