h1 {
  text-align: center;
  margin-bottom: 5px;
}

//Classes

.graph {
  height: 60vh;
  width: 70vw;
}

.options {
  line-height: 55px;
  //border-right: 1px solid grey;
  cursor: pointer;
}
.reports {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 110%;

  color: #000000;
}

.top {
  font-size: 120%;
  font-weight: bold;
  color: #000000;
}

.lds-dual-ring {
  display: block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}

.tabs li.is-active a {
  font-weight: 700;
  color: #000000;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
