<div class="columns is-mobile">
  <div class="column is-12">
    <h2 class="subtitle">
      {{ mealName }}
      <a class="button is-pulled-right" (click)="toggle()">Add food for {{ mealName.toLowerCase()}}
      </a>
    </h2>
  </div>
</div>
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Food</th>
      <th>Cal</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of selectedFood">
      <td><a class="button is-small" (click)="remove(food.id)">
          <span class="icon is-small">
            <i class="fas fa-trash-alt"></i>
          </span>
        </a>
        {{ getFoodInfo(food.id).name }}
      </td>

      <td>
      {{ getFoodInfo(food.id).calorieCount }}
      </td>

      <td>
          <a class="button is-small" (click)="change(food.id, false)">
              <span class="icon is-small">
                <i class="fas fa-minus"></i>
              </span>
            </a>
            {{ food.quantity }}
            <a class="button is-small" (click)="change(food.id, true)">
              <span class="icon is-small">
                <i class="fas fa-plus"></i>
              </span>
            </a>
      </td>
    </tr>
  </tbody>
</table>