.profile-pic {
  height: 11rem;
  width: 11rem;
  border-radius: 50%;
  border: solid 1px black;
  margin-left: 10px;
}

.profile {
  font-size: 1.1rem;
}

.profile-detail {
  font-size: 1.2rem;
  line-height: 2.5;
}

.profile-bottom {
  line-height: 2.7rem;
}

.title.is-4 {
  margin-bottom: 8px;
  margin-top: 20px;
  font-size: 1.8rem;
}

.title {
  font-weight: 600;
}

.label {
  display: inline;
  color: #708090;
  font-size: 1.2rem;
  font-weight: 500;
  margin-right: 15px;
}

.notes {
  line-height: 1.5;
  margin-top: 10px;
  width: 40rem;
}

p {
  font-weight: 500;
}
