<div class="columns">
  <div class="column">
    <h4 class="title is-3">Profile Picture</h4>
    <i class="fas fa-10x fa-user-circle"></i>
  </div>
  <div class="column">
    <div class="columns">
      <div class="column">
        <h4 class="title is-3">Account Detailes</h4>
        <div class="columns is-mobile">
          <div class="column">
            <h4 class="title is-4">Full Name: </h4>
          </div>
          <div class="column">
            <p class="bd-notification is-info">Second nested column</p>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <h4 class="title is-4">Country: </h4>
          </div>
          <div class="column">
            <p class="bd-notification is-info">Second nested column</p>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <h4 class="title is-4">Address: </h4>
          </div>
          <div class="column">
            <p class="bd-notification is-info">Second nested column</p>
          </div>
        </div>
        <div class="columns is-mobile">
          <div class="column">
            <h4 class="title is-4">E-mail: </h4>
          </div>
          <div class="column">
            <p class="bd-notification is-info">Second nested column</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>