/* You can add global styles to this file, and also import other style files */

/*Below written two lines are for the calendar styling (Appointment Component)*/
// @import '../node_modules/@fullcalendar/core/main.css';
// @import '../node_modules/@fullcalendar/daygrid/main.css';
// @import '../node_modules/@fullcalendar/timegrid/main.css';

@import './app/custom-styles/full-calendar-custom.css';
@import './app/custom-styles/full-calendar-daygird-custom.css';
@import './app/custom-styles/full-calendar-timegrid-custom.css';



:root {
    --primary: #cc0033;
    --primary-text: #000000;
    
    // Header
    --header-bg-color: #cc0033;

    --side-menu-gradient: linear-gradient(#000000, #000000);
    --side-menu-width: 250px;
    --side-menu-width-mobile: 60px;
    background-color: #CCCCCC;
}

// Menu Component
$menu-item-color: #ffffff;
$menu-item-active-color: #ffffff;
$menu-item-active-background-color: #cc0033;
$menu-item-hover-background-color: #cc0033;
$menu-item-hover-color: #FFFFcc;

$menu-item-radius: 2px;
// This import should be last
@import '~bulma';
@import '~bulma-switch';
