.manual-inputs {
  margin-top: 10px;
}
.tabs{
  $tabs-toggle-link-active-background-color:red;
  $tabs-toggle-link-active-border-color:red;
  $tabs-link-active-border-bottom-color:red;
  $tabs-link-active-color:red;
}


