<div class="columns is-mobile">
  <div class="column is-12 has-text-centered">
    <h1 class="title ">
      <a class="button is-medium is-pulled-left" (click)="changeDate(true)">
        <span class="icon is-medium">
          <i class="fas fa-chevron-left fa-2x"></i>
        </span>
      </a>
      {{ date | date: "yyyy-MM-dd" }}
      <a class="button is-medium is-pulled-right" (click)="changeDate(false)">
        <span class="icon is-medium">
          <i class="fas fa-chevron-right fa-2x"></i>
        </span>
      </a>
    </h1>
  </div>
</div>

<nav class="breadcrumb is-medium has-bullet-separator is-centered" aria-label="breadcrumbs">
  <ul>
    <li class="is-active"><a href="#" aria-current="page">Food</a></li>
    <li><a href="exercise-entry">Exercises</a></li>
  </ul>
</nav>

<app-selected-food-table (removeFood)="removeFood($event[0],$event[1])" (changeQuantity)="changeQuantity($event[0],$event[1],$event[2])"
  (toggleModal)="toggleModal($event)" getFoodInfo="getFoodInfo" mealName="Breakfast" mealTime="0" [selectedFood]="getMeal(0)">
</app-selected-food-table>

<app-selected-food-table (removeFood)="removeFood($event[0],$event[1])" (changeQuantity)="changeQuantity($event[0],$event[1],$event[2])"
  (toggleModal)="toggleModal($event)" getFoodInfo="getFoodInfo" mealName="Lunch" mealTime="1" [selectedFood]="getMeal(1)">
</app-selected-food-table>

<app-selected-food-table (removeFood)="removeFood($event[0],$event[1])" (changeQuantity)="changeQuantity($event[0],$event[1],$event[2])"
  (toggleModal)="toggleModal($event)" getFoodInfo="getFoodInfo" mealName="Dinner" mealTime="2" [selectedFood]="getMeal(2)">
</app-selected-food-table>

<p>Total Calories: {{ calculateTotalCalories() }} Cal</p>
<a onclick="save()" class="button is-success is-pulled-right">Save</a>

<div class="modal" [ngClass]="modalClass()" *ngIf="selectedMealTime !== undefined">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="modal-content">
    <app-food-choices [selectedFoods]="getMeal(selectedMealTime)" [availableFoodChoices]="availableFoodChoices"
      (submitFoodSelection)="getFoodSelection($event)"></app-food-choices>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="toggleModal()"></button>
</div>