<div class="columns is-mobile">
  <div class="column is-12 has-text-centered">
    <h1 class="title ">
      <a class="button is-medium is-pulled-left" (click)="changeDate(false)">
        <span class="icon is-medium">
          <i class="fas fa-chevron-left fa-2x"></i>
        </span>
      </a>
      {{ date | date: "yyyy-MM-dd" }}
      <a class="button is-medium is-pulled-right" (click)="changeDate(true)">
        <span class="icon is-medium">
          <i class="fas fa-chevron-right fa-2x"></i>
        </span>
      </a>
    </h1>
  </div>
</div>

<nav class="breadcrumb is-medium has-bullet-separator is-centered" aria-label="breadcrumbs">
  <ul>
    <li class="is-active"><a href="#" aria-current="page">Food</a></li>
    <li><a href="exercise-entry">Exercises</a></li>
  </ul>
</nav>

<!-- Exercise entry below this point -->



<!-- Food entry below this point -->

<div class="columns is-mobile">
  <div class="column is-12">
    <h2 class="subtitle">
      Breakfast
      <a class="button is-pulled-right" (click)="toggleModal(0)">Add food for breakfast
      </a>
    </h2>
  </div>
</div>
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Food</th>
      <th>Cal</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of getMeal(0)">
      <td><a class="button is-small" (click)="removeFood(0, food.id)">
          <span class="icon is-small">
            <i class="fas fa-trash-alt"></i>
          </span>
        </a>
        {{ getFoodInfo(food.id) && getFoodInfo(food.id).name || "" }}
      </td>
      <td>
      {{ getFoodInfo(food.id) && getFoodInfo(food.id).calorieCount || "" }}
      </td>
      <td>
          <a class="button is-small" (click)="changeQuantity(0, food.id, false)">
              <span class="icon is-small">
                <i class="fas fa-minus"></i>
              </span>
            </a>
            {{ food.quantity }}
            <a class="button is-small" (click)="changeQuantity(0, food.id, true)">
              <span class="icon is-small">
                <i class="fas fa-plus"></i>
              </span>
            </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="columns is-mobile">
  <div class="column is-12">
    <h2 class="subtitle">
      Lunch
      <a class="button is-pulled-right" (click)="toggleModal(1)">Add food for lunch
      </a>
    </h2>
  </div>
</div>
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Food</th>
      <th>Cal</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of getMeal(1)">
      <td><a class="button is-small" (click)="removeFood(1, food.id)">
          <span class="icon is-small">
            <i class="fas fa-trash-alt"></i>
          </span>
        </a>
        {{ getFoodInfo(food.id) && getFoodInfo(food.id).name || "" }}
      </td>
      <td>
      {{ getFoodInfo(food.id) && getFoodInfo(food.id).calorieCount || "" }}
      </td>
      <td>
          <a class="button is-small" (click)="changeQuantity(1, food.id, false)">
              <span class="icon is-small">
                <i class="fas fa-minus"></i>
              </span>
            </a>
            {{ food.quantity }}
            <a class="button is-small" (click)="changeQuantity(1, food.id, true)">
              <span class="icon is-small">
                <i class="fas fa-plus"></i>
              </span>
            </a>
      </td>
    </tr>
  </tbody>
</table>

<div class="columns is-mobile">
  <div class="column is-12">
    <h2 class="subtitle">
      Dinner
      <a class="button is-pulled-right" (click)="toggleModal(2)">Add food for dinner
      </a>
    </h2>
  </div>
</div>
<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Food</th>
      <th>Cal</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let food of getMeal(2)">
      <td><a class="button is-small" (click)="removeFood(2, food.id)">
          <span class="icon is-small">
            <i class="fas fa-trash-alt"></i>
          </span>
        </a>
        {{ getFoodInfo(food.id) && getFoodInfo(food.id).name || "" }}
      </td>
      <td>
      {{ getFoodInfo(food.id) && getFoodInfo(food.id).calorieCount || "" }}
      </td>
      <td>
          <a class="button is-small" (click)="changeQuantity(2, food.id, false)">
              <span class="icon is-small">
                <i class="fas fa-minus"></i>
              </span>
            </a>
            {{ food.quantity }}
            <a class="button is-small" (click)="changeQuantity(2, food.id, true)">
              <span class="icon is-small">
                <i class="fas fa-plus"></i>
              </span>
            </a>
      </td>
    </tr>
  </tbody>
</table>

<p>Total Calories: {{ calculateTotalCalories() }} Cal</p>
<p>Calories Burned: {{ calculateCaloriesBurned() }} Cal</p>
<a (click)="save()" class="button is-success is-pulled-right">Save</a>

<div class="modal" [ngClass]="modalClass()" *ngIf="selectedMealTime !== undefined">
  <div class="modal-background" (click)="toggleModal()"></div>
  <div class="modal-content">
    <app-food-choices [selectedFoods]="getMeal(selectedMealTime)" [availableFoodChoices]="availableFoodChoices"
      (submitFoodSelection)="getFoodSelection($event)"></app-food-choices>
  </div>
  <button class="modal-close is-large" aria-label="close" (click)="toggleModal()"></button>
</div>