<!-- App header -->
<div class="columns is-vcentered is-mobile">
  <div class="column is-10">
<app-header routerLink='/'>
</app-header>
</div>
<div class="column">
  <strong class="is-hidden-mobile">
    {{patientFirstName}} {{patientSurname}}
  </strong>
  <span class="icon">
    <i class="fas fa-user"></i>
  </span>
</div>
</div>
<section class="main-content columns is-fullheight is-mobile">
  <app-side-menu class="column is-narrow"></app-side-menu>
  <div class="main">
    <router-outlet></router-outlet>
  </div>
</section>

<!-- routes will be rendered here -->
