$tablet: 769px;
app-side-menu {
    width: var(--side-menu-width);

    @media screen and (max-width: $tablet - 1px) {
        width: var(--side-menu-width-mobile);
    }
}

.main {
    margin: auto;
    width: 70%;
    padding: 3em;
}